<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cars</title>
</head>
<body>
<div class="container">
<br>
  <br>

  <form action="#" th:action="@{/saveUser}" th:object="${person}" method="POST">

    <input type="text" th:field="*{name}" placeholder="Enter name">

    <input type="text" th:field="*{lastName}" placeholder="Enter lastname">

    <input type="text" th:field="*{email}" placeholder="Enter email">

    <button type="submit">
      Save user
    </button>
  </form>


<br>
  <hr>
  <a th:href="@{/}">Back</a>
</div>
</body>
</html>